In [1]:
!python --version

Python 3.9.7

In [5]:
print('Hello, world.')

Hello, world.

In [6]:
len('Hello, world.')

13

## Working with variable types

- int
- string
- bool

In [1]:
x= True
y = False

In [3]:
print ('x and y is:', x and y)

x and y is: False

In [4]:
print ('x or y is:', x or y)

x or y is: True

In [5]:
print ('not x is:', not x)

not x is: False

In [6]:
print ('not y is:', not y)

not y is: True

In [10]:
x = 'Phyton is '
y = 'awesome '

z = x+y

print(z)

Phyton is awesome

In [11]:
a = z*4
print(a)

Phyton is awesome Phyton is awesome Phyton is awesome Phyton is awesome

In [12]:
len(x)

10

In [13]:
len(z)

18

In [15]:
z = y = x = 'Python'

print(x)
print(y)
print(z)

Python
Python
Python

In [16]:
b = x + y
b

'PythonPython'

In [17]:
x = y == z

print (x)

True

In [18]:
a, b, c = 5, 3.2, "hello"

print(a)
print(b)
print(c)

5
3.2
hello

In [62]:
n1 = 34
n2 = 34.5
n3 = 100

s1 = 'Hello'
s2 = 'World'

In [47]:
total_n = n1 + n2 + n3
total_n

168.5

In [48]:
n1 = n1 + 1
n1

35

In [49]:
n2 = n2 + 10
n2

44.5

In [50]:
n3 = n3*50
n3

5000

In [51]:
n3 = n3/50
n3

100.0

In [52]:
n1 += n1 +1
n1

71

In [54]:
n2 += 10
n2

64.5

In [63]:
concat_string = s1 + s2
concat_string

'HelloWorld'

In [64]:
s1 = s1 +'Yoohoo'
s1

'HelloYoohoo'

In [65]:
s2 = s2 + 'Yoppee'
s2

'WorldYoppee'

In [66]:
new_s1 = s1
new_s1

'HelloYoohoo'

In [67]:
s1 = 'some other value'
s1

'some other value'

In [68]:
new_s1

'HelloYoohoo'

## Data Types

In [69]:
type(23)

int

In [70]:
type(25.5)

float

In [71]:
x = 25
type(x)

int

In [ ]:
13//5

In [72]:
num_1 = 10
num_2 = 20
num_3 = num_1
num_1 = 100
num_3

10

--- 

## Complex Data Types in Python: Working with Lists & Tuples in Python

### Lists

- Complex data type
- Ordered collection of elements
- `[]

In [1]:
empty_list = []

In [2]:
empty_list

[]

Can be any data type

In [3]:
list_str = ['Toyota Camry', 'Honda Accord', 'Honda Civic', 'Toyota Corolla']
list_str

['Toyota Camry', 'Honda Accord', 'Honda Civic', 'Toyota Corolla']

In [5]:
type(list_str)

list

In [8]:
list_int = [1,2,3,4,5]
list_float = [1.1, 1.2, 1.3]
list_bool = [True, False]

- Lists can contain duplicate values
- Ordering of elements is significant

In [9]:
mixed_list = ['Dodge Challenger', 2012, 5.6]

In [12]:
cars_list = list_str

In [14]:
print(cars_list[0])

Toyota Camry

In [15]:
len(cars_list)

4

In [16]:
print('Car at index 2: ', cars_list[2])

Car at index 2:  Honda Civic

In [19]:
cars_list

['Toyota Camry', 'Honda Accord', 'Honda Civic', 'Toyota Corolla']

In [20]:
cars_list[-1]

'Toyota Corolla'

### Performing Simple List Operations

In [21]:
cars_list

['Toyota Camry', 'Honda Accord', 'Honda Civic', 'Toyota Corolla']

In [22]:
cars_list.append('Hyundai Elantra')

In [23]:
cars_list

['Toyota Camry',
 'Honda Accord',
 'Honda Civic',
 'Toyota Corolla',
 'Hyundai Elantra']

In [24]:
cars_list.insert(6, "Nissan Sentra')")

In [25]:
cars_list

['Toyota Camry',
 'Honda Accord',
 'Honda Civic',
 'Toyota Corolla',
 'Hyundai Elantra',
 "Nissan Sentra')"]

In [26]:
len(cars_list)

6

In [28]:
cars_list.insert(5, 'Nissan Altima')

In [29]:
cars_list

['Toyota Camry',
 'Honda Accord',
 'Honda Civic',
 'Toyota Corolla',
 'Hyundai Elantra',
 'Nissan Altima',
 "Nissan Sentra')"]

In [30]:
cars_list.extend(['Kia Optima', 'Kia Soul'])

In [31]:
cars_list

['Toyota Camry',
 'Honda Accord',
 'Honda Civic',
 'Toyota Corolla',
 'Hyundai Elantra',
 'Nissan Altima',
 "Nissan Sentra')",
 'Kia Optima',
 'Kia Soul']

In [32]:
cars_list2 = ['Hennessey Venom GT', 'Bucgatti Veyron', 'Koenigsegg Agera R']

In [33]:
cars_list2

['Hennessey Venom GT', 'Bucgatti Veyron', 'Koenigsegg Agera R']

In [34]:
complete_cars_list = cars_list + cars_list2
complete_cars_list

['Toyota Camry',
 'Honda Accord',
 'Honda Civic',
 'Toyota Corolla',
 'Hyundai Elantra',
 'Nissan Altima',
 "Nissan Sentra')",
 'Kia Optima',
 'Kia Soul',
 'Hennessey Venom GT',
 'Bucgatti Veyron',
 'Koenigsegg Agera R']

In [35]:
complete_cars_list.index('Honda Civic')

2

In [36]:
complete_cars_list.remove('Hyundai Elantra')

In [37]:
complete_cars_list

['Toyota Camry',
 'Honda Accord',
 'Honda Civic',
 'Toyota Corolla',
 'Nissan Altima',
 "Nissan Sentra')",
 'Kia Optima',
 'Kia Soul',
 'Hennessey Venom GT',
 'Bucgatti Veyron',
 'Koenigsegg Agera R']

### Performing Useful LIst Operations

In [38]:
a = 10
a +=1
a = a+1

In [39]:
a

12

In [40]:
salary = 70000
salary *=10
salary

700000

In [41]:
complete_cars_list +=['Chevrolet Cruze', 'Chevrolet Malibu']

In [42]:
complete_cars_list

['Toyota Camry',
 'Honda Accord',
 'Honda Civic',
 'Toyota Corolla',
 'Nissan Altima',
 "Nissan Sentra')",
 'Kia Optima',
 'Kia Soul',
 'Hennessey Venom GT',
 'Bucgatti Veyron',
 'Koenigsegg Agera R',
 'Chevrolet Cruze',
 'Chevrolet Malibu']

In [43]:
complete_cars_list.sort()
complete_cars_list

['Bucgatti Veyron',
 'Chevrolet Cruze',
 'Chevrolet Malibu',
 'Hennessey Venom GT',
 'Honda Accord',
 'Honda Civic',
 'Kia Optima',
 'Kia Soul',
 'Koenigsegg Agera R',
 'Nissan Altima',
 "Nissan Sentra')",
 'Toyota Camry',
 'Toyota Corolla']

In [44]:
complete_cars_list.reverse()
complete_cars_list

['Toyota Corolla',
 'Toyota Camry',
 "Nissan Sentra')",
 'Nissan Altima',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Honda Accord',
 'Hennessey Venom GT',
 'Chevrolet Malibu',
 'Chevrolet Cruze',
 'Bucgatti Veyron']

In [45]:
# Remove last element of list
complete_cars_list.pop()
complete_cars_list

['Toyota Corolla',
 'Toyota Camry',
 "Nissan Sentra')",
 'Nissan Altima',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Honda Accord',
 'Hennessey Venom GT',
 'Chevrolet Malibu',
 'Chevrolet Cruze']

In [46]:
# lists can contain duplicate elements
complete_cars_list.append('Nissan Altima')
complete_cars_list

['Toyota Corolla',
 'Toyota Camry',
 "Nissan Sentra')",
 'Nissan Altima',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Honda Accord',
 'Hennessey Venom GT',
 'Chevrolet Malibu',
 'Chevrolet Cruze',
 'Nissan Altima']

In [48]:
complete_cars_list.count('Nissan Altima')

2

In [49]:
# Convert list to set
set(complete_cars_list)

{'Chevrolet Cruze',
 'Chevrolet Malibu',
 'Hennessey Venom GT',
 'Honda Accord',
 'Honda Civic',
 'Kia Optima',
 'Kia Soul',
 'Koenigsegg Agera R',
 'Nissan Altima',
 "Nissan Sentra')",
 'Toyota Camry',
 'Toyota Corolla'}

In [50]:
print(cars_list)

['Toyota Camry', 'Honda Accord', 'Honda Civic', 'Toyota Corolla', 'Hyundai Elantra', 'Nissan Altima', "Nissan Sentra')", 'Kia Optima', 'Kia Soul']

In [51]:
#remove all elements
cars_list.clear()
cars_list

[]

In [52]:
complete_cars_list

['Toyota Corolla',
 'Toyota Camry',
 "Nissan Sentra')",
 'Nissan Altima',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Honda Accord',
 'Hennessey Venom GT',
 'Chevrolet Malibu',
 'Chevrolet Cruze',
 'Nissan Altima']

In [53]:
# Create deep copy
new_cars_list = complete_cars_list.copy()

In [54]:
# Delete
del complete_cars_list

In [55]:
complete_cars_list

NameError: name 'complete_cars_list' is not defined

In [56]:
new_cars_list

['Toyota Corolla',
 'Toyota Camry',
 "Nissan Sentra')",
 'Nissan Altima',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Honda Accord',
 'Hennessey Venom GT',
 'Chevrolet Malibu',
 'Chevrolet Cruze',
 'Nissan Altima']

In [57]:
#shallow copy
another_cars_list = new_cars_list

With shallow copies, changes to one list apply to both

In [58]:
another_cars_list

['Toyota Corolla',
 'Toyota Camry',
 "Nissan Sentra')",
 'Nissan Altima',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Honda Accord',
 'Hennessey Venom GT',
 'Chevrolet Malibu',
 'Chevrolet Cruze',
 'Nissan Altima']

In [59]:
another_cars_list.remove('Hennessey Venom GT')

In [60]:
new_cars_list

['Toyota Corolla',
 'Toyota Camry',
 "Nissan Sentra')",
 'Nissan Altima',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Honda Accord',
 'Chevrolet Malibu',
 'Chevrolet Cruze',
 'Nissan Altima']

In [64]:
new_cars_list.remove('Chevrolet Cruze')

In [65]:
another_cars_list

['Toyota Corolla',
 'Toyota Camry',
 "Nissan Sentra')",
 'Nissan Altima',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Honda Accord',
 'Chevrolet Malibu',
 'Nissan Altima']

--- 

### Built in functions with lists

In [67]:
list_num = [20, 70, 80, 50, 30, 60, 40]
list_num

[20, 70, 80, 50, 30, 60, 40]

In [69]:
max(list_num)

80

In [70]:
min(list_num)

20

In [71]:
len(list_num)

7

In [72]:
list_num.sort()
list_num

[20, 30, 40, 50, 60, 70, 80]

In [73]:
list_num.append(25)

In [75]:
list_num

[20, 30, 40, 50, 60, 70, 80, 25]

In [76]:
sorted_list_num = sorted(list_num)

In [79]:
sorted_list_num

[20, 25, 30, 40, 50, 60, 70, 80]

In [80]:
list_num

[20, 30, 40, 50, 60, 70, 80, 25]

In [81]:
sum(list_num)

375

In [83]:
list_num *=2
list_num

[20,
 30,
 40,
 50,
 60,
 70,
 80,
 25,
 20,
 30,
 40,
 50,
 60,
 70,
 80,
 25,
 20,
 30,
 40,
 50,
 60,
 70,
 80,
 25,
 20,
 30,
 40,
 50,
 60,
 70,
 80,
 25]

- 0 = boolean false
- greater than 0 = True

In [84]:
all([0])

False

In [85]:
all([1])

True

In [86]:
all([0,1])

False

In [88]:
all([1,1])

True

In [90]:
all(list_num)

True

In [91]:
new_num_list = []
all(new_num_list)

True

In [92]:
any([0])

False

In [94]:
any([1])

True

In [95]:
any([0,1])

True

In [96]:
any(list_num)

True

In [97]:
any(new_num_list)

False

In [98]:
my_car_list = ['Toyota Corolla', 'Toyota Camry', 'Nissan Altima', 'Kia Soul', 'Kia Optime', 'Honda Civic']

In [99]:
my_car_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Altima',
 'Kia Soul',
 'Kia Optime',
 'Honda Civic']

In [100]:
len(my_car_list)

6

In [101]:
my_car_list[4]

'Kia Optime'

In [102]:
my_car_list[5]

'Honda Civic'

In [103]:
my_car_list[-2]

'Kia Optime'

In [104]:
my_car_list[-4]

'Nissan Altima'

In [105]:
my_car_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Altima',
 'Kia Soul',
 'Kia Optime',
 'Honda Civic']

### Slicing - access range of elements

In [108]:
# sourcery skip: remove-redundant-slice-index
my_car_list[0:4]

['Toyota Corolla', 'Toyota Camry', 'Nissan Altima', 'Kia Soul']

In [109]:
# sourcery skip: remove-redundant-slice-index
my_car_list[0:2]

['Toyota Corolla', 'Toyota Camry']

List slicing creates a deep copy

In [110]:
my_car_list[3:6]

['Kia Soul', 'Kia Optime', 'Honda Civic']

In [111]:
my_car_list[:3]

['Toyota Corolla', 'Toyota Camry', 'Nissan Altima']

In [112]:
my_car_list[3:]

['Kia Soul', 'Kia Optime', 'Honda Civic']