In [1]:
!python --version

Python 3.9.7

In [2]:
print('Hello, world.')

Hello, world.

In [3]:
len('Hello, world.')

13

## Working with variable types

- int
- string
- bool

In [4]:
x= True
y = False

In [5]:
print ('x and y is:', x and y)

x and y is: False

In [6]:
print ('x or y is:', x or y)

x or y is: True

In [7]:
print ('not x is:', not x)

not x is: False

In [8]:
print ('not y is:', not y)

not y is: True

In [9]:
x = 'Phyton is '
y = 'awesome '

z = x+y

print(z)

Phyton is awesome

In [10]:
a = z*4
print(a)

Phyton is awesome Phyton is awesome Phyton is awesome Phyton is awesome

In [11]:
len(x)

10

In [12]:
len(z)

18

In [13]:
z = y = x = 'Python'

print(x)
print(y)
print(z)

Python
Python
Python

In [14]:
b = x + y
b

'PythonPython'

In [15]:
x = y == z

print (x)

True

In [16]:
a, b, c = 5, 3.2, "hello"

print(a)
print(b)
print(c)

5
3.2
hello

In [17]:
n1 = 34
n2 = 34.5
n3 = 100

s1 = 'Hello'
s2 = 'World'

In [18]:
total_n = n1 + n2 + n3
total_n

168.5

In [19]:
n1 = n1 + 1
n1

35

In [20]:
n2 = n2 + 10
n2

44.5

In [21]:
n3 = n3*50
n3

5000

In [22]:
n3 = n3/50
n3

100.0

In [23]:
n1 += n1 +1
n1

71

In [24]:
n2 += 10
n2

54.5

In [25]:
concat_string = s1 + s2
concat_string

'HelloWorld'

In [26]:
s1 = s1 +'Yoohoo'
s1

'HelloYoohoo'

In [27]:
s2 = s2 + 'Yoppee'
s2

'WorldYoppee'

In [28]:
new_s1 = s1
new_s1

'HelloYoohoo'

In [29]:
s1 = 'some other value'
s1

'some other value'

In [30]:
new_s1

'HelloYoohoo'

## Data Types

In [31]:
type(23)

int

In [32]:
type(25.5)

float

In [33]:
x = 25
type(x)

int

In [34]:
13//5

2

In [35]:
num_1 = 10
num_2 = 20
num_3 = num_1
num_1 = 100
num_3

10

--- 

## Complex Data Types in Python: Working with Lists & Tuples in Python

### Lists

- Complex data type
- Ordered collection of elements
- `[]

In [36]:
empty_list = []

In [37]:
empty_list

[]

Can be any data type

In [38]:
list_str = ['Toyota Camry', 'Honda Accord', 'Honda Civic', 'Toyota Corolla']
list_str

['Toyota Camry', 'Honda Accord', 'Honda Civic', 'Toyota Corolla']

In [39]:
type(list_str)

list

In [40]:
list_int = [1,2,3,4,5]
list_float = [1.1, 1.2, 1.3]
list_bool = [True, False]

- Lists can contain duplicate values
- Ordering of elements is significant

In [41]:
mixed_list = ['Dodge Challenger', 2012, 5.6]

In [42]:
cars_list = list_str

In [43]:
print(cars_list[0])

Toyota Camry

In [44]:
len(cars_list)

4

In [45]:
print('Car at index 2: ', cars_list[2])

Car at index 2:  Honda Civic

In [46]:
cars_list

['Toyota Camry', 'Honda Accord', 'Honda Civic', 'Toyota Corolla']

In [47]:
cars_list[-1]

'Toyota Corolla'

### Performing Simple List Operations

In [48]:
cars_list

['Toyota Camry', 'Honda Accord', 'Honda Civic', 'Toyota Corolla']

In [49]:
cars_list.append('Hyundai Elantra')

In [50]:
cars_list

['Toyota Camry',
 'Honda Accord',
 'Honda Civic',
 'Toyota Corolla',
 'Hyundai Elantra']

In [51]:
cars_list.insert(6, "Nissan Sentra')")

In [52]:
cars_list

['Toyota Camry',
 'Honda Accord',
 'Honda Civic',
 'Toyota Corolla',
 'Hyundai Elantra',
 "Nissan Sentra')"]

In [53]:
len(cars_list)

6

In [54]:
cars_list.insert(5, 'Nissan Altima')

In [55]:
cars_list

['Toyota Camry',
 'Honda Accord',
 'Honda Civic',
 'Toyota Corolla',
 'Hyundai Elantra',
 'Nissan Altima',
 "Nissan Sentra')"]

In [56]:
cars_list.extend(['Kia Optima', 'Kia Soul'])

In [57]:
cars_list

['Toyota Camry',
 'Honda Accord',
 'Honda Civic',
 'Toyota Corolla',
 'Hyundai Elantra',
 'Nissan Altima',
 "Nissan Sentra')",
 'Kia Optima',
 'Kia Soul']

In [58]:
cars_list2 = ['Hennessey Venom GT', 'Bucgatti Veyron', 'Koenigsegg Agera R']

In [59]:
cars_list2

['Hennessey Venom GT', 'Bucgatti Veyron', 'Koenigsegg Agera R']

In [60]:
complete_cars_list = cars_list + cars_list2
complete_cars_list

['Toyota Camry',
 'Honda Accord',
 'Honda Civic',
 'Toyota Corolla',
 'Hyundai Elantra',
 'Nissan Altima',
 "Nissan Sentra')",
 'Kia Optima',
 'Kia Soul',
 'Hennessey Venom GT',
 'Bucgatti Veyron',
 'Koenigsegg Agera R']

In [61]:
complete_cars_list.index('Honda Civic')

2

In [62]:
complete_cars_list.remove('Hyundai Elantra')

In [63]:
complete_cars_list

['Toyota Camry',
 'Honda Accord',
 'Honda Civic',
 'Toyota Corolla',
 'Nissan Altima',
 "Nissan Sentra')",
 'Kia Optima',
 'Kia Soul',
 'Hennessey Venom GT',
 'Bucgatti Veyron',
 'Koenigsegg Agera R']

### Performing Useful LIst Operations

In [64]:
a = 10
a +=1
a = a+1

In [65]:
a

12

In [66]:
salary = 70000
salary *=10
salary

700000

In [67]:
complete_cars_list +=['Chevrolet Cruze', 'Chevrolet Malibu']

In [68]:
complete_cars_list

['Toyota Camry',
 'Honda Accord',
 'Honda Civic',
 'Toyota Corolla',
 'Nissan Altima',
 "Nissan Sentra')",
 'Kia Optima',
 'Kia Soul',
 'Hennessey Venom GT',
 'Bucgatti Veyron',
 'Koenigsegg Agera R',
 'Chevrolet Cruze',
 'Chevrolet Malibu']

In [69]:
complete_cars_list.sort()
complete_cars_list

['Bucgatti Veyron',
 'Chevrolet Cruze',
 'Chevrolet Malibu',
 'Hennessey Venom GT',
 'Honda Accord',
 'Honda Civic',
 'Kia Optima',
 'Kia Soul',
 'Koenigsegg Agera R',
 'Nissan Altima',
 "Nissan Sentra')",
 'Toyota Camry',
 'Toyota Corolla']

In [70]:
complete_cars_list.reverse()
complete_cars_list

['Toyota Corolla',
 'Toyota Camry',
 "Nissan Sentra')",
 'Nissan Altima',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Honda Accord',
 'Hennessey Venom GT',
 'Chevrolet Malibu',
 'Chevrolet Cruze',
 'Bucgatti Veyron']

In [71]:
# Remove last element of list
complete_cars_list.pop()
complete_cars_list

['Toyota Corolla',
 'Toyota Camry',
 "Nissan Sentra')",
 'Nissan Altima',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Honda Accord',
 'Hennessey Venom GT',
 'Chevrolet Malibu',
 'Chevrolet Cruze']

In [72]:
# lists can contain duplicate elements
complete_cars_list.append('Nissan Altima')
complete_cars_list

['Toyota Corolla',
 'Toyota Camry',
 "Nissan Sentra')",
 'Nissan Altima',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Honda Accord',
 'Hennessey Venom GT',
 'Chevrolet Malibu',
 'Chevrolet Cruze',
 'Nissan Altima']

In [73]:
complete_cars_list.count('Nissan Altima')

2

In [74]:
# Convert list to set
set(complete_cars_list)

{'Chevrolet Cruze',
 'Chevrolet Malibu',
 'Hennessey Venom GT',
 'Honda Accord',
 'Honda Civic',
 'Kia Optima',
 'Kia Soul',
 'Koenigsegg Agera R',
 'Nissan Altima',
 "Nissan Sentra')",
 'Toyota Camry',
 'Toyota Corolla'}

In [75]:
print(cars_list)

['Toyota Camry', 'Honda Accord', 'Honda Civic', 'Toyota Corolla', 'Hyundai Elantra', 'Nissan Altima', "Nissan Sentra')", 'Kia Optima', 'Kia Soul']

In [76]:
#remove all elements
cars_list.clear()
cars_list

[]

In [77]:
complete_cars_list

['Toyota Corolla',
 'Toyota Camry',
 "Nissan Sentra')",
 'Nissan Altima',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Honda Accord',
 'Hennessey Venom GT',
 'Chevrolet Malibu',
 'Chevrolet Cruze',
 'Nissan Altima']

In [78]:
# Create deep copy
new_cars_list = complete_cars_list.copy()

In [79]:
# Delete
del complete_cars_list

In [80]:
complete_cars_list

NameError: name 'complete_cars_list' is not defined

In [81]:
new_cars_list

['Toyota Corolla',
 'Toyota Camry',
 "Nissan Sentra')",
 'Nissan Altima',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Honda Accord',
 'Hennessey Venom GT',
 'Chevrolet Malibu',
 'Chevrolet Cruze',
 'Nissan Altima']

In [82]:
#shallow copy
another_cars_list = new_cars_list

With shallow copies, changes to one list apply to both

In [83]:
another_cars_list

['Toyota Corolla',
 'Toyota Camry',
 "Nissan Sentra')",
 'Nissan Altima',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Honda Accord',
 'Hennessey Venom GT',
 'Chevrolet Malibu',
 'Chevrolet Cruze',
 'Nissan Altima']

In [84]:
another_cars_list.remove('Hennessey Venom GT')

In [85]:
new_cars_list

['Toyota Corolla',
 'Toyota Camry',
 "Nissan Sentra')",
 'Nissan Altima',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Honda Accord',
 'Chevrolet Malibu',
 'Chevrolet Cruze',
 'Nissan Altima']

In [86]:
new_cars_list.remove('Chevrolet Cruze')

In [87]:
another_cars_list

['Toyota Corolla',
 'Toyota Camry',
 "Nissan Sentra')",
 'Nissan Altima',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Honda Accord',
 'Chevrolet Malibu',
 'Nissan Altima']

--- 

### Built in functions with lists

In [88]:
list_num = [20, 70, 80, 50, 30, 60, 40]
list_num

[20, 70, 80, 50, 30, 60, 40]

In [89]:
max(list_num)

80

In [90]:
min(list_num)

20

In [91]:
len(list_num)

7

In [92]:
list_num.sort()
list_num

[20, 30, 40, 50, 60, 70, 80]

In [93]:
list_num.append(25)

In [94]:
list_num

[20, 30, 40, 50, 60, 70, 80, 25]

In [95]:
sorted_list_num = sorted(list_num)

In [96]:
sorted_list_num

[20, 25, 30, 40, 50, 60, 70, 80]

In [97]:
list_num

[20, 30, 40, 50, 60, 70, 80, 25]

In [98]:
sum(list_num)

375

In [99]:
list_num *=2
list_num

[20, 30, 40, 50, 60, 70, 80, 25, 20, 30, 40, 50, 60, 70, 80, 25]

- 0 = boolean false
- greater than 0 = True

In [100]:
all([0])

False

In [101]:
all([1])

True

In [102]:
all([0,1])

False

In [103]:
all([1,1])

True

In [104]:
all(list_num)

True

In [105]:
new_num_list = []
all(new_num_list)

True

In [106]:
any([0])

False

In [107]:
any([1])

True

In [108]:
any([0,1])

True

In [109]:
any(list_num)

True

In [110]:
any(new_num_list)

False

In [111]:
my_car_list = ['Toyota Corolla', 'Toyota Camry', 'Nissan Altima', 'Kia Soul', 'Kia Optime', 'Honda Civic']

In [112]:
my_car_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Altima',
 'Kia Soul',
 'Kia Optime',
 'Honda Civic']

In [113]:
len(my_car_list)

6

In [114]:
my_car_list[4]

'Kia Optime'

In [115]:
my_car_list[5]

'Honda Civic'

In [116]:
my_car_list[-2]

'Kia Optime'

In [117]:
my_car_list[-4]

'Nissan Altima'

In [118]:
my_car_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Altima',
 'Kia Soul',
 'Kia Optime',
 'Honda Civic']

### Slicing - access range of elements

In [119]:
# sourcery skip: remove-redundant-slice-index
my_car_list[0:4]

['Toyota Corolla', 'Toyota Camry', 'Nissan Altima', 'Kia Soul']

In [120]:
# sourcery skip: remove-redundant-slice-index
my_car_list[0:2]

['Toyota Corolla', 'Toyota Camry']

List slicing creates a deep copy

In [121]:
my_car_list[3:6]

['Kia Soul', 'Kia Optime', 'Honda Civic']

In [122]:
my_car_list[:3]

['Toyota Corolla', 'Toyota Camry', 'Nissan Altima']

In [123]:
my_car_list[3:]

['Kia Soul', 'Kia Optime', 'Honda Civic']

In [124]:
my_car_list[0:-4]

['Toyota Corolla', 'Toyota Camry']

### Using step size in slicing operations

In [125]:
my_car_list[0:5:]

['Toyota Corolla', 'Toyota Camry', 'Nissan Altima', 'Kia Soul', 'Kia Optime']

In [126]:
my_car_list[::2]

['Toyota Corolla', 'Nissan Altima', 'Kia Optime']

In [127]:
my_car_list[0:5:3]

['Toyota Corolla', 'Kia Soul']

In [128]:
my_car_list[1:4:2]

['Toyota Camry', 'Kia Soul']

In [129]:
my_car_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Altima',
 'Kia Soul',
 'Kia Optime',
 'Honda Civic']

In [130]:
my_car_list[::-1]

['Honda Civic',
 'Kia Optime',
 'Kia Soul',
 'Nissan Altima',
 'Toyota Camry',
 'Toyota Corolla']

In [131]:
my_car_list[2:0:-1]

['Nissan Altima', 'Toyota Camry']

In [132]:
my_car_list[4:1:-1]

['Kia Optime', 'Kia Soul', 'Nissan Altima']

In [133]:
my_car_list[-4:0:-1]

['Nissan Altima', 'Toyota Camry']

In [134]:
my_car_list[::-2]

['Honda Civic', 'Kia Soul', 'Toyota Camry']

In [135]:
print(my_car_list)
len(my_car_list)

['Toyota Corolla', 'Toyota Camry', 'Nissan Altima', 'Kia Soul', 'Kia Optime', 'Honda Civic']

6

In [136]:
my_car_list[6:-1]=['Ford Focus', 'Dodge Charger']
my_car_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Altima',
 'Kia Soul',
 'Kia Optime',
 'Honda Civic',
 'Ford Focus',
 'Dodge Charger']

In [137]:
'Ford Focus' in my_car_list

True

In [138]:
my_car_list.pop(-2)

'Ford Focus'

In [139]:
'Ford Focus' in my_car_list

False

In [140]:
my_car_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Altima',
 'Kia Soul',
 'Kia Optime',
 'Honda Civic',
 'Dodge Charger']

### Working with strings as lists of characters

In [142]:
print('World')

World

In [143]:
x = 'World'

In [144]:
x[0]

'W'

In [145]:
x[3]

'l'

In [147]:
# Strings are immutable

In [149]:
a,b,c,d,e=x
print(a)

W

In [150]:
a,b,c,d,e

('W', 'o', 'r', 'l', 'd')

In [151]:
a,b,_,_,_=x

In [153]:
print(b)

o

In [154]:
input('How are you?; ')

'fine'

In [155]:
place = input('Where are you from?; ')

In [156]:
print(place)

Slidell

In [157]:
len(place)

7

In [158]:
place[5:]

'll'

In [160]:
place[-4:]

'dell'

In [162]:
place[2:-2]

'ide'

### Invoking functions on strings

In [163]:
print(place.startswith('S'))

True

In [164]:
print(place.startswith('s'))

False

In [165]:
print(place.endswith('l'))

True

In [166]:
print(place.endswith('ell'))

True

In [167]:
place.count('l')

3

In [169]:
lower_place = place.lower()
lower_place

'slidell'

In [171]:
upper_place = place.upper()

In [172]:
upper_place

'SLIDELL'

In [173]:
# Check for equality

lower_place == upper_place

False

In [174]:
place == upper_place

False

In [175]:
# Find index position of first occurence of substring
place.find('d')

3

In [177]:
place.find('lid')

1

In [178]:
split_place = place.split('d')

In [179]:
split_place

['Sli', 'ell']

In [180]:
place = 'New York City'

In [181]:
split_place = place.split(' ')

In [182]:
split_place

['New', 'York', 'City']

In [183]:
len(split_place)

3

In [189]:
join_char = ','
join_char.join(split_place)

'New,York,City'

In [187]:
'|'.join(split_place)

'New|York|City'

In [188]:
join_charl = ' '
join_charl.join(split_place)

'New York City'

### Perform Slicing Operations on Strings

In [190]:
my_string = 'Hello Python World'
print (my_string[0:18])

Hello Python World

In [191]:
len(my_string)

18

In [193]:
print (my_string[0:6])

Hello

In [194]:
print(my_string[6:18])

Python World

In [197]:
print(my_string[::2])

HloPto ol

In [198]:
print(my_string[18:0:-2])

drWnhy le

In [199]:
my_string[4::-1]

'olleH'

In [200]:
print(my_string[::-1])

dlroW nohtyP olleH

In [203]:
some_string = my_string.split()
some_string

['Hello', 'Python', 'World']

In [204]:
some_string[0]

'Hello'

In [205]:
my_string.upper()

'HELLO PYTHON WORLD'

In [206]:
'HELO PYTHON WORLD'.isupper()

True

### Introducing Tuples

- Another complex data type
- Similar to lists, but different
- Ordered collection of elements